//System colors

$primary-color: #7B61FF;
$primary-color-2: #917CFF;
$secondary-color: #80858B;

//Backgrounds colors

$background-black: #000000;
$background-dark: #242426;
$background-graphite: #323537;

//Contextual colors

$error-color: #FF5154;
$light-color: #AFB2B6;
$white-color: #FFFFFF;

//Tertiaty colors

$green-color: #00A340;
$yellow-color: #F3A608;
$orange-color: #F45D2D;