@import '../../../styles/variables.scss';

.user_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;

    &:hover button {
        background: $primary-color-2;
    }


    button {
        background: $primary-color;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        padding: 20px;
        border: 0;
        margin-right: 10px;
        color: $white-color;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }

    span {
        color: $white-color;
    }
}