.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
}

.bg-app {
    background: black no-repeat center url(./assets/backgrounds/main_background.png);
}

.wrapper {
    padding: 0 20px;
}